In [23]:
import pandas as pd

In [24]:
duplicates = pd.read_csv("duplicates.csv", names=['id1', 'id2', 'type'])
duplicates.head()

   id1    id2      type
0    1  29699  TEMPORAL
1    1  72192  SEMANTIC
2    3     86      FULL
3    3  11168      FULL
4    3  27623  SEMANTIC

In [25]:
duplicates.groupby('type').count(
    ).reset_index()

       type     id1     id2
0      FULL  357477  357477
1   PARTIAL   73721   73721
2  SEMANTIC   24274   24274
3  TEMPORAL  173093  173093