# Notebook for data exploration

## Imports

### Packages

In [1]:
import os
import pandas as pd
import warnings

In [2]:
warnings.filterwarnings('ignore')

### Paths

In [ ]:
project_path = "/home/onyxia/work/deduplication/"  # Needs to be changed by the user

In [3]:
path_01_raw = "data/01_raw/"
path_02_intermediate = "data/02_intermediate/"
path_03_primary = "data/03_primary/"
path_04_feature = "data/04_feature/"
path_05_model_input = "data/05_model_input/"
path_06_models = "data/06_models/"
path_07_model_output = "data/07_model_output/"
path_08_reporting = "data/08_reporting/"
path_09_past_submissions =  "data/09_past_submissions/"

### Data

In [4]:
data = pd.read_csv(project_path + path_01_raw + 'wi_dataset.csv',
                   lineterminator='\n')

len(data)

112056

In [5]:
data.head()

,id,title,description,location,country_id,company_name,retrieval_date
0,1,Traineeship Pensioen & Leven in Utrecht,We sturen je door naar je toekomstige opdracht...,Utrecht,NL,NaN,2021-01-19
1,2,DEPOSITARY OFFICER (M/F),DEPOSITARY OFFICER (M/F) DO Recruitment Adviso...,NaN,FR,DO Recruitment Advisors,2021-09-30
2,3,Cautam colegi manipulanti marfa,Descriere Angajam manipulanti marfa din Pitest...,Pitesti,RO,NaN,2021-06-18
3,4,Home Care Assistant,Are you looking for a role as a Care Assistant...,NaN,UK,Cera Care,2021-02-09
4,5,Chef de chantier espaces verts h/f,LE POSTE Vous êtes passionné par les Espaces V...,NaN,FR,ALPHEA CONSEIL,2021-06-08

In [6]:
data.tail()

,id,title,description,location,country_id,company_name,retrieval_date
112051,112052,OPERATORE IMPIANTI AUTOMATICI,OPERATORE IMPIANTI AUTOMATICI SBE VARVIT - Mon...,"Monfalcone, Friuli-Venezia Giulia",IT,S.B.E. VARVIT,2021-01-31
112052,112053,Tarvittaessa töihin kutsuttavia siivoojia,Etsimme useampaa MATALAPAINEPESIJÄÄ tiimiimme ...,NaN,FI,ISS Palvelut Oy,2021-04-01
112053,112054,Timanställning - Lager - Start Augusti,Om Jobbet: Just nu söker vi efter nya medarbet...,Jönköping,SE,Lyreco Sverige AB,2021-08-03
112054,112055,Opérateur de saisie bancaire H/F,Venez nous découvrir sur : https://www.tessi.e...,Fontenay-sous-Bois (94),FR,tessi,2021-05-31
112055,112056,Senior Java developer,Do you want to know what is means to be BOLD? ...,NaN,PT,BOLD International,2021-01-30

In [7]:
extensively_preprocessed_dataset = pd.read_parquet(project_path + path_03_primary + 'extensively_preprocessed_dataset.pq')

len(extensively_preprocessed_dataset)

112056

In [8]:
extensively_preprocessed_dataset.head()

,id,title,description,location,country_id,company_name,retrieval_date,language,filtered_description,beginning_filtered_description,end_filtered_description,concatenated_offer,concatenated_filtered_offer
0,1,traineeship pensioen leven in utrecht,we sturen je door naar je toekomstige opdracht...,utrecht,NL,,2021-01-19,nl,sturen toekomstige opdrachtgever duurt paar se...,sturen toekomstige opdrachtgever duurt paar se...,job studenten werkgevers gehele site studentjo...,traineeship pensioen leven in utrecht utrecht...,traineeship pensioen leven in utrecht utrecht...
1,2,depositary officer m f,depositary officer m f do recruitment advisors...,,FR,do recruitment advisors,2021-09-30,en,depositary officer recruitment advisor recruit...,depositary officer recruitment advisor recruit...,cation spirit initiative act without waiting d...,depositary officer m f do recruitment advisors...,depositary officer m f do recruitment advisors...
2,3,cautam colegi manipulanti marfa,descriere angajam manipulanti marfa din pitest...,pitesti,RO,,2021-06-18,ro,descriere angajam manipulanti marfa pitesti zo...,descriere angajam manipulanti marfa pitesti zo...,descriere angajam manipulanti marfa pitesti zo...,cautam colegi manipulanti marfa pitesti RO de...,cautam colegi manipulanti marfa pitesti RO de...
3,4,home care assistant,are you looking for a role as a care assistant...,,UK,cera care,2021-02-09,en,assistant ayshire driving license access vehic...,assistant ayshire driving license access vehic...,ompleting administrative task report return co...,home care assistant cera care UK are you look...,home care assistant cera care UK assistant ay...
4,5,chef de chantier espaces verts h f,le poste vous etes passionne par les espaces v...,,FR,alphea conseil,2021-06-08,fr,passionne espaces verts creativite sans limite...,passionne espaces verts creativite sans limite...,leader savez transmettre passion insuffler en...,chef de chantier espaces verts h f alphea cons...,chef de chantier espaces verts h f alphea cons...

In [9]:
extensively_preprocessed_dataset.tail()

,id,title,description,location,country_id,company_name,retrieval_date,language,filtered_description,beginning_filtered_description,end_filtered_description,concatenated_offer,concatenated_filtered_offer
112051,112052,operatore impianti automatici,operatore impianti automatici sbe varvit monfa...,monfalcone friuli venezia giulia,IT,s b e varvit,2021-01-31,it,operatore impianti automatici sbe varvit monfa...,operatore impianti automatici sbe varvit monfa...,onomo manutenzione elettromeccanica individuar...,operatore impianti automatici s b e varvit mon...,operatore impianti automatici s b e varvit mon...
112052,112053,tarvittaessa toihin kutsuttavia siivoojia,etsimme useampaa matalapainepesijaa tiimiimme ...,,FI,iss palvelut oy,2021-04-01,fi,useampaa matalapainepesijaa tiimiimme outokump...,useampaa matalapainepesijaa tiimiimme outokump...,useampaa matalapainepesijaa tiimiimme outokump...,tarvittaessa toihin kutsuttavia siivoojia iss ...,tarvittaessa toihin kutsuttavia siivoojia iss ...
112053,112054,timanstallning lager start augusti,om jobbet just nu soker vi efter nya medarbeta...,jonkoping,SE,lyreco sverige ab,2021-08-03,sv,jobbet orderplockare centrallager bankeryd hog...,jobbet orderplockare centrallager bankeryd hog...,rplockare centrallager bankeryd hogt tempo arb...,timanstallning lager start augusti lyreco sver...,timanstallning lager start augusti lyreco sver...
112054,112055,operateur de saisie bancaire h f,venez nous decouvrir sur https www tessi eu fr...,fontenay sous bois 94,FR,tessi,2021-05-31,fr,venez decouvrir http www tessi fr quelques mot...,venez decouvrir http www tessi fr quelques mot...,152 45 remboursement titre transport hebdomada...,operateur de saisie bancaire h f tessi fontena...,operateur de saisie bancaire h f tessi fontena...
112055,112056,senior java developer,do you want to know what is means to be bold b...,,PT,bold international,2021-01-30,en,know mean bold bold driving technology world i...,know mean bold bold driving technology world i...,lisbon expertise j2ee spring core javascript f...,senior java developer bold international PT d...,senior java developer bold international PT k...

## Tests

In [10]:
data.loc[112055, 'description']

'Do you want to know what is means to be BOLD? Being BOLD is driving into the technology world, inspired and inspiring. Creating strong teams along the way and building roads for the next journey. Enjoying every ride is part of our DNA. Are you BOLD enough? If so, join us. Position: Senior Java developer for an International project in Lisbon We need expertise in:  J2EE Spring Core Javascript frameworks (ReactJS is a plus) Jersey (Restful services), API Oracle/SQL Hibernate/JPA Maven Docker, container in general, kubernetes, cloud architecture Fluent in English   Still not sure if you will send your application to BOLD? More than creating solutions, we push and inspire our people to go further and deliver innovation anytime, anywhere. So, here’s a little push – BE BOLD.   Send your application to  **************************'

In [11]:
extensively_preprocessed_dataset.loc[112055, 'description']

'do you want to know what is means to be bold being bold is driving into the technology world inspired and inspiring creating strong teams along the way and building roads for the next journey enjoying every ride is part of our dna are you bold enough if so join us position senior java developer for an international project in lisbon we need expertise in j2ee spring core javascript frameworks reactjs is a plus jersey restful services api oracle sql hibernate jpa maven docker container in general kubernetes cloud architecture fluent in english still not sure if you will send your application to bold more than creating solutions we push and inspire our people to go further and deliver innovation anytime anywhere so here s a little push be bold send your application to'

In [12]:
last_submission = pd.read_csv(
    project_path + path_09_past_submissions + 'submission_1_AP.csv',
    names=['id1', 'id2', 'type'],
    lineterminator='\n')

len(last_submission)

1468811

In [13]:
def describe_duplicates(all_duplicates: pd.DataFrame) -> pd.DataFrame:
    duplicates_description = all_duplicates.groupby('type').count(
    ).reset_index()
    return duplicates_description

In [14]:
describe_duplicates(last_submission)

       type     id1     id2
0      FULL   63353   63353
1   PARTIAL  433723  433723
2  SEMANTIC   76932   76932
3  TEMPORAL  894803  894803

In [18]:
data['description'].str.len().describe()

count    112035.000000
mean       1702.292400
std        1458.888562
min           1.000000
25%         618.000000
50%        1343.000000
75%        2482.000000
max       10058.000000
Name: description, dtype: float64

In [17]:
extensively_preprocessed_dataset['description'].str.len().describe()

count    112056.000000
mean       1643.914462
std        1412.489969
min           0.000000
25%         591.000000
50%        1288.000000
75%        2403.000000
max        9404.000000
Name: description, dtype: float64