# Notebook for small tests

## Imports

### Packages

In [8]:
import os
import pandas as pd
import warnings

In [9]:
warnings.filterwarnings('ignore')

### Paths

In [10]:
project_path = "/home/onyxia/work/deduplication/"
path_01_raw = "data/01_raw/"
path_02_intermediate = "data/02_intermediate/"
path_03_primary = "data/03_primary/"
path_04_feature = "data/04_feature/"
path_05_model_input = "data/05_model_input/"
path_06_models = "data/06_models/"
path_07_model_output = "data/07_model_output/"
path_08_reporting = "data/08_reporting/"
path_09_past_submissions =  "data/09_past_submissions/"

### Data

In [11]:
data = pd.read_csv(project_path + path_01_raw + 'wi_dataset.csv',
                   lineterminator='\n')

len(data)

112056

In [12]:
data.head()

,id,title,description,location,country_id,company_name,retrieval_date
0,1,Traineeship Pensioen & Leven in Utrecht,We sturen je door naar je toekomstige opdracht...,Utrecht,NL,NaN,2021-01-19
1,2,DEPOSITARY OFFICER (M/F),DEPOSITARY OFFICER (M/F) DO Recruitment Adviso...,NaN,FR,DO Recruitment Advisors,2021-09-30
2,3,Cautam colegi manipulanti marfa,Descriere Angajam manipulanti marfa din Pitest...,Pitesti,RO,NaN,2021-06-18
3,4,Home Care Assistant,Are you looking for a role as a Care Assistant...,NaN,UK,Cera Care,2021-02-09
4,5,Chef de chantier espaces verts h/f,LE POSTE Vous êtes passionné par les Espaces V...,NaN,FR,ALPHEA CONSEIL,2021-06-08

In [13]:
data.tail()

,id,title,description,location,country_id,company_name,retrieval_date
112051,112052,OPERATORE IMPIANTI AUTOMATICI,OPERATORE IMPIANTI AUTOMATICI SBE VARVIT - Mon...,"Monfalcone, Friuli-Venezia Giulia",IT,S.B.E. VARVIT,2021-01-31
112052,112053,Tarvittaessa töihin kutsuttavia siivoojia,Etsimme useampaa MATALAPAINEPESIJÄÄ tiimiimme ...,NaN,FI,ISS Palvelut Oy,2021-04-01
112053,112054,Timanställning - Lager - Start Augusti,Om Jobbet: Just nu söker vi efter nya medarbet...,Jönköping,SE,Lyreco Sverige AB,2021-08-03
112054,112055,Opérateur de saisie bancaire H/F,Venez nous découvrir sur : https://www.tessi.e...,Fontenay-sous-Bois (94),FR,tessi,2021-05-31
112055,112056,Senior Java developer,Do you want to know what is means to be BOLD? ...,NaN,PT,BOLD International,2021-01-30

In [14]:
extensively_preprocessed_dataset = pd.read_parquet(project_path + path_03_primary + 'extensively_preprocessed_dataset.pq')

len(extensively_preprocessed_dataset)

112056

In [15]:
extensively_preprocessed_dataset.head()

,id,title,description,location,country_id,company_name,retrieval_date,language,beginning_description,end_description,concatenated_offer
0,1,traineeship pensioen leven utrecht,sturen toekomstige opdrachtgever duurt paar se...,utrecht,NL,,2021-01-19,nl,sturen toekomstige opdrachtgever duurt paar se...,job studenten werkgevers gehele site studentjo...,traineeship pensioen leven utrecht utrecht NL...
1,2,depositary officer,depositary officer recruitment advisors recrui...,,FR,recruitment advisors,2021-09-30,en,depositary officer recruitment advisors recrui...,waiting direction appropriate client client pr...,depositary officer recruitment advisors FR de...
2,3,cautam colegi manipulanti marfa,descriere angajam manipulanti marfa pitesti zo...,pitesti,RO,,2021-06-18,ro,descriere angajam manipulanti marfa pitesti zo...,descriere angajam manipulanti marfa pitesti zo...,cautam colegi manipulanti marfa pitesti RO de...
3,4,home assistant,assistant ayshire driving license access vehic...,,UK,cera,2021-02-09,en,assistant ayshire driving license access vehic...,ve tasks reports return commitment hard cera o...,home assistant cera UK assistant ayshire driv...
4,5,chef chantier espaces verts,passionne espaces verts creativite sans limite...,,FR,alphea conseil,2021-06-08,fr,passionne espaces verts creativite sans limite...,leader savez transmettre passion insuffler ene...,chef chantier espaces verts alphea conseil FR...

In [16]:
extensively_preprocessed_dataset.tail()

,id,title,description,location,country_id,company_name,retrieval_date,language,beginning_description,end_description,concatenated_offer
112051,112052,operatore impianti automatici,operatore impianti automatici sbe varvit monfa...,monfalcone friuli venezia giulia,IT,varvit,2021-01-31,it,operatore impianti automatici sbe varvit monfa...,nomo manutenzione elettromeccanica individuare...,operatore impianti automatici varvit monfalcon...
112052,112053,tarvittaessa toihin kutsuttavia siivoojia,useampaa matalapainepesijaa tiimiimme outokump...,,FI,iss palvelut oy,2021-04-01,fi,useampaa matalapainepesijaa tiimiimme outokump...,useampaa matalapainepesijaa tiimiimme outokump...,tarvittaessa toihin kutsuttavia siivoojia iss ...
112053,112054,timanstallning lager start augusti,jobbet orderplockare centrallager bankeryd hog...,jonkoping,SE,lyreco sverige ab,2021-08-03,sv,jobbet orderplockare centrallager bankeryd hog...,rplockare centrallager bankeryd hogt tempo arb...,timanstallning lager start augusti lyreco sver...
112054,112055,operateur saisie bancaire,venez decouvrir https www tessi fr quelques mo...,fontenay sous bois 94,FR,tessi,2021-05-31,fr,venez decouvrir https www tessi fr quelques mo...,2 45 remboursement titre transport hebdomadair...,operateur saisie bancaire tessi fontenay sous ...
112055,112056,senior java developer,know means bold bold driving technology world ...,,PT,bold international,2021-01-30,en,know means bold bold driving technology world ...,need expertise j2ee spring core javascript fra...,senior java developer bold international PT k...

## Tests

In [17]:
data.loc[112055, 'description']

'Do you want to know what is means to be BOLD? Being BOLD is driving into the technology world, inspired and inspiring. Creating strong teams along the way and building roads for the next journey. Enjoying every ride is part of our DNA. Are you BOLD enough? If so, join us. Position: Senior Java developer for an International project in Lisbon We need expertise in:  J2EE Spring Core Javascript frameworks (ReactJS is a plus) Jersey (Restful services), API Oracle/SQL Hibernate/JPA Maven Docker, container in general, kubernetes, cloud architecture Fluent in English   Still not sure if you will send your application to BOLD? More than creating solutions, we push and inspire our people to go further and deliver innovation anytime, anywhere. So, here’s a little push – BE BOLD.   Send your application to  **************************'

In [18]:
extensively_preprocessed_dataset.loc[112055, 'description']

'know means bold bold driving technology world inspired inspiring creating strong teams along way building roads next journey enjoying every ride dna bold enough join senior java developer international project lisbon need expertise j2ee spring core javascript frameworks reactjs plus jersey restful api oracle sql hibernate jpa maven docker container general kubernetes cloud architecture fluent english still sure send bold creating solutions push inspire go deliver innovation anytime anywhere little push bold send'

In [23]:
last_submission = pd.read_csv(
    project_path + path_09_past_submissions + 'submission_2_KF.csv',
    names=['id1', 'id2', 'type'],
    lineterminator='\n')

len(last_submission)

444803

In [24]:
def describe_duplicates(all_duplicates: pd.DataFrame) -> pd.DataFrame:
    duplicates_description = all_duplicates.groupby('type').count(
    ).reset_index()
    return duplicates_description

In [25]:
describe_duplicates(last_submission)

       type     id1     id2
0      FULL   63353   63353
1   PARTIAL   21916   21916
2  SEMANTIC    4726    4726
3  TEMPORAL  354808  354808