# Notebook for small tests

## Imports

### Packages

In [15]:
import os
import pandas as pd
import warnings

In [16]:
warnings.filterwarnings('ignore')

### Paths

In [34]:
project_path = "/home/onyxia/work/deduplication/"
raw_data_path = "data/01_raw/"
intermediate_data_path = "data/02_intermediate/"
models_data_path = "data/06_models/"

### Data

In [18]:
data = pd.read_csv(project_path + raw_data_path + 'wi_dataset.csv',
                   lineterminator='\n')

len(data)

112056

In [19]:
data.head()

,id,title,description,location,country_id,company_name,retrieval_date
0,1,Traineeship Pensioen & Leven in Utrecht,We sturen je door naar je toekomstige opdracht...,Utrecht,NL,NaN,2021-01-19
1,2,DEPOSITARY OFFICER (M/F),DEPOSITARY OFFICER (M/F) DO Recruitment Adviso...,NaN,FR,DO Recruitment Advisors,2021-09-30
2,3,Cautam colegi manipulanti marfa,Descriere Angajam manipulanti marfa din Pitest...,Pitesti,RO,NaN,2021-06-18
3,4,Home Care Assistant,Are you looking for a role as a Care Assistant...,NaN,UK,Cera Care,2021-02-09
4,5,Chef de chantier espaces verts h/f,LE POSTE Vous êtes passionné par les Espaces V...,NaN,FR,ALPHEA CONSEIL,2021-06-08

In [27]:
data.tail()

,id,title,description,location,country_id,company_name,retrieval_date
112051,112052,OPERATORE IMPIANTI AUTOMATICI,OPERATORE IMPIANTI AUTOMATICI SBE VARVIT - Mon...,"Monfalcone, Friuli-Venezia Giulia",IT,S.B.E. VARVIT,2021-01-31
112052,112053,Tarvittaessa töihin kutsuttavia siivoojia,Etsimme useampaa MATALAPAINEPESIJÄÄ tiimiimme ...,NaN,FI,ISS Palvelut Oy,2021-04-01
112053,112054,Timanställning - Lager - Start Augusti,Om Jobbet: Just nu söker vi efter nya medarbet...,Jönköping,SE,Lyreco Sverige AB,2021-08-03
112054,112055,Opérateur de saisie bancaire H/F,Venez nous découvrir sur : https://www.tessi.e...,Fontenay-sous-Bois (94),FR,tessi,2021-05-31
112055,112056,Senior Java developer,Do you want to know what is means to be BOLD? ...,NaN,PT,BOLD International,2021-01-30

In [35]:
full_duplicates = pd.read_parquet(project_path + models_data_path + 'full_duplicates.pq')

len(full_duplicates)

358073

In [36]:
full_duplicates.head()

     id1    id2  type
0  16097  23753  FULL
1  16097  26567  FULL
2  16097  34959  FULL
3  16097  35983  FULL
4  16097  44767  FULL

## Tests

In [32]:
dict(data.loc[3])

{'id': 4,
 'title': 'Home Care Assistant',
 'description': 'Are you looking for a role as a Care Assistant in Ayshire? Do you have a Driving License and Access to a Vehicle? Do you feel that you have what it takes to be a wonderful and compassionate Care Assistant? We are looking for individuals like you to work as a community Care Assistant in your local community. No previous experience is required. At Cera our main priority is to find people with the right values, behaviours and attitudes that can support our mission to help people live longer, healthier and happier lives in their own homes. It would be great to have YOU as part of our team. Our roles include providing personal care and we do require carers to have their own vehicle and driving license. At Cera we arm you with everything you need to give outstanding levels of care; award winning technology, PPE and comprehensive training. Your responsibilities as a Cera Care Assistant: Supporting and assisting with all personal care requirements Providing companionship and supportive listening Observing and reporting any changes in the health or status of the patient Preparing meals and feeding patients Prompting and administering medication Providing support with hobbies, studies, and social activities Completing administrative tasks and care reports. In return for your commitment and hard work, Cera offers: • FREE PVG Checks • FREE Professional Uniform • Flexible Hours - part time or full time, you choose! • Pay rates start from £9.30 per hour. • Mileage Paid • Mobile phone and work app to support with administrative tasks • 3% Company Pension Scheme • Paid assessment day training Postcode areas covered:KA1, KA6, KA7, KA8, KA9, KA10, KA11, KA12, KA19 and KA26 REFTNAYRSCOT',
 'location': nan,
 'country_id': 'UK',
 'company_name': 'Cera Care',
 'retrieval_date': '2021-02-09'}