# Notebook for small tests

## Imports

### Packages

In [54]:
import os
import pandas as pd
import warnings

In [55]:
warnings.filterwarnings('ignore')

### Paths

In [56]:
project_path = "/home/onyxia/work/deduplication/"
raw_data_path = "data/01_raw/"
intermediate_data_path = "data/02_intermediate/"
models_data_path = "data/06_models/"

### Data

In [57]:
data = pd.read_csv(project_path + raw_data_path + 'wi_dataset.csv',
                   lineterminator='\n')

len(data)

112056

In [58]:
data.head()

,id,title,description,location,country_id,company_name,retrieval_date
0,1,Traineeship Pensioen & Leven in Utrecht,We sturen je door naar je toekomstige opdracht...,Utrecht,NL,NaN,2021-01-19
1,2,DEPOSITARY OFFICER (M/F),DEPOSITARY OFFICER (M/F) DO Recruitment Adviso...,NaN,FR,DO Recruitment Advisors,2021-09-30
2,3,Cautam colegi manipulanti marfa,Descriere Angajam manipulanti marfa din Pitest...,Pitesti,RO,NaN,2021-06-18
3,4,Home Care Assistant,Are you looking for a role as a Care Assistant...,NaN,UK,Cera Care,2021-02-09
4,5,Chef de chantier espaces verts h/f,LE POSTE Vous êtes passionné par les Espaces V...,NaN,FR,ALPHEA CONSEIL,2021-06-08

In [59]:
data.tail()

,id,title,description,location,country_id,company_name,retrieval_date
112051,112052,OPERATORE IMPIANTI AUTOMATICI,OPERATORE IMPIANTI AUTOMATICI SBE VARVIT - Mon...,"Monfalcone, Friuli-Venezia Giulia",IT,S.B.E. VARVIT,2021-01-31
112052,112053,Tarvittaessa töihin kutsuttavia siivoojia,Etsimme useampaa MATALAPAINEPESIJÄÄ tiimiimme ...,NaN,FI,ISS Palvelut Oy,2021-04-01
112053,112054,Timanställning - Lager - Start Augusti,Om Jobbet: Just nu söker vi efter nya medarbet...,Jönköping,SE,Lyreco Sverige AB,2021-08-03
112054,112055,Opérateur de saisie bancaire H/F,Venez nous découvrir sur : https://www.tessi.e...,Fontenay-sous-Bois (94),FR,tessi,2021-05-31
112055,112056,Senior Java developer,Do you want to know what is means to be BOLD? ...,NaN,PT,BOLD International,2021-01-30

In [60]:
preprocessed_dataset = pd.read_parquet(project_path + intermediate_data_path + 'preprocessed_dataset.pq')

len(preprocessed_dataset)

112056

In [61]:
preprocessed_dataset.head()

,id,title,description,location,country_id,company_name,retrieval_date,text
0,1,traineeship pensioen leven in utrecht,we sturen je door naar je toekomstige opdracht...,utrecht,NL,,2021-01-19,traineeship pensioen leven in utrecht utrecht...
1,2,depositary officer m f,depositary officer m f do recruitment advisors...,,FR,do recruitment advisors,2021-09-30,depositary officer m f do recruitment advisors...
2,3,cautam colegi manipulanti marfa,descriere angajam manipulanti marfa din pitest...,pitesti,RO,,2021-06-18,cautam colegi manipulanti marfa pitesti RO de...
3,4,home care assistant,are you looking for a role as a care assistant...,,UK,cera care,2021-02-09,home care assistant cera care UK are you look...
4,5,chef de chantier espaces verts h f,le poste vous etes passionne par les espaces v...,,FR,alphea conseil,2021-06-08,chef de chantier espaces verts h f alphea cons...

In [62]:
preprocessed_dataset.tail()

,id,title,description,location,country_id,company_name,retrieval_date,text
112051,112052,operatore impianti automatici,operatore impianti automatici sbe varvit monfa...,monfalcone friuli venezia giulia,IT,s b e varvit,2021-01-31,operatore impianti automatici s b e varvit mon...
112052,112053,tarvittaessa toihin kutsuttavia siivoojia,etsimme useampaa matalapainepesijaa tiimiimme ...,,FI,iss palvelut oy,2021-04-01,tarvittaessa toihin kutsuttavia siivoojia iss ...
112053,112054,timanstallning lager start augusti,om jobbet just nu soker vi efter nya medarbeta...,jonkoping,SE,lyreco sverige ab,2021-08-03,timanstallning lager start augusti lyreco sver...
112054,112055,operateur de saisie bancaire h f,venez nous decouvrir sur https www tessi eu fr...,fontenay sous bois 94,FR,tessi,2021-05-31,operateur de saisie bancaire h f tessi fontena...
112055,112056,senior java developer,do you want to know what is means to be bold b...,,PT,bold international,2021-01-30,senior java developer bold international PT d...

In [63]:
full_duplicates = pd.read_parquet(project_path + models_data_path + 'full_duplicates.pq')

len(full_duplicates)

358073

In [64]:
full_duplicates.head()

   id1    id2  type
0    3     86  FULL
1    3  11168  FULL
2    3  32721  FULL
3    3  56648  FULL
4    3  68245  FULL

## Tests

In [72]:
(preprocessed_dataset.loc[0].str.len() > 0).all()

False

In [69]:
preprocessed_dataset[preprocessed_dataset['description'] == ""].sort_values("title")

,id,title,description,location,country_id,company_name,retrieval_date,text
52237,52238,4ls onderhoudstechnieker 3 ploegen regio turnhout,,turnhout,BE,stepstone,2021-02-18,4ls onderhoudstechnieker 3 ploegen regio turnh...
53990,53991,agent de laboratoire pharmaceutique h f,,vouvray indre et loire,FR,adworks,2021-02-21,agent de laboratoire pharmaceutique h f adwork...
2191,2192,alternant adjoint manager de supermarche sur 1...,,metz moselle,FR,lidl,2021-03-05,alternant adjoint manager de supermarche sur 1...
47015,47016,assistant adv anglais russe h f,,les ulis essonne,FR,lynx rh essonne,2021-03-10,assistant adv anglais russe h f lynx rh essonn...
96776,96777,boekhouder m v,,olen,BE,casa international,2021-05-30,boekhouder m v casa international olen BE
88797,88798,commercial interne energie h f x,,regio dinant,BE,forem,2021-01-05,commercial interne energie h f x forem regio d...
53362,53363,contraste europe functional analyst,,leuven,BE,contraste europe,2021-05-27,contraste europe functional analyst contraste ...
107801,107802,dkv belgium data scientist,,brussel,BE,stepstone,2021-07-07,dkv belgium data scientist stepstone brussel BE
36941,36942,enseignant en activite physique adaptee,,bruges gironde,FR,synergie,2021-03-05,enseignant en activite physique adaptee synerg...
77224,77225,etudiant en pharmacie 6e annee validee h f en ...,,marseille bouches du rhone,FR,club officine,2021-02-19,etudiant en pharmacie 6e annee validee h f en ...
3885,3886,flexibele magazijn keukenmedewerker,,regio beringen tessenderlo,BE,mcdonald s,2021-07-17,flexibele magazijn keukenmedewerker mcdonald s...
58104,58105,four life sciences service support product exp...,,kortrijk,BE,stepstone,2021-09-02,four life sciences service support product exp...
44760,44761,gestionnaire paie h f secteur macon,,macon saone et loire,FR,lynx rh macon,2021-03-11,gestionnaire paie h f secteur macon lynx rh ma...
100979,100980,infirmiers de liaison oncologie h f x,,provincie luik,BE,forem,2021-01-07,infirmiers de liaison oncologie h f x forem pr...
97836,97837,lmh head engineering hvac wagen prive,,brussel,BE,stepstone,2021-02-05,lmh head engineering hvac wagen prive stepston...
78786,78787,ouvrier agricole polyvalent h f celles sur belle,,celles sur belle deux sevres,FR,qapa,2021-03-22,ouvrier agricole polyvalent h f celles sur bel...
111831,111832,praca zdalna od zaraz bez doswiadczenia konsul...,,bytom,PL,ekspert afiliacji,2021-01-19,praca zdalna od zaraz bez doswiadczenia konsul...
66022,66023,preparateur en pharmacie h f en pharmacie d of...,,la tour du pin isere,FR,club officine,2021-03-15,preparateur en pharmacie h f en pharmacie d of...
15833,15834,preparateur en pharmacie h f en pharmacie d of...,,marseille bouches du rhone,FR,club officine,2021-02-19,preparateur en pharmacie h f en pharmacie d of...
56667,56668,produktionsfachkraft chemie m w d produktionsf...,,frankfurt am main hessen deutschland,DE,page personnel deutschland haveanicejob de,2021-07-22,produktionsfachkraft chemie m w d produktionsf...
10751,10752,technicien de laboratoire chimie h f,,amiens somme,FR,manpower interim,2021-03-25,technicien de laboratoire chimie h f manpower ...
76908,76909,technicien de maintenance frigoriste h f,,colmar haut rhin,FR,actua,2021-03-13,technicien de maintenance frigoriste h f actua...
47124,47125,technicien de maintenance frigoriste h f,,colmar haut rhin,FR,actua,2021-03-13,technicien de maintenance frigoriste h f actua...
92968,92969,technicien de maintenance frigoriste h f,,colmar haut rhin,FR,actua,2021-03-13,technicien de maintenance frigoriste h f actua...
4419,4420,technicien de maintenance frigoriste h f,,colmar haut rhin,FR,actua,2021-03-13,technicien de maintenance frigoriste h f actua...
63124,63125,technicien de maintenance frigoriste h f,,colmar haut rhin,FR,actua,2021-03-13,technicien de maintenance frigoriste h f actua...
99006,99007,technicien de maintenance frigoriste h f,,colmar haut rhin,FR,actua,2021-03-13,technicien de maintenance frigoriste h f actua...
100215,100216,technicien de maintenance frigoriste h f,,colmar haut rhin,FR,actua,2021-03-13,technicien de maintenance frigoriste h f actua...
64138,64139,technicien de maintenance frigoriste h f,,colmar haut rhin,FR,actua,2021-03-13,technicien de maintenance frigoriste h f actua...
45961,45962,technicien laboratoire biologie biochimie h f,,marseille bouches du rhone,FR,manpower cdi cdd,2021-03-24,technicien laboratoire biologie biochimie h f ...