# Notebook for small tests

## Imports

### Packages

In [12]:
import os
import pandas as pd
import warnings

In [13]:
warnings.filterwarnings('ignore')

### Paths

In [14]:
project_path = "/home/onyxia/work/deduplication/"
raw_data_path = "data/01_raw/"
intermediate_data_path = "data/02_intermediate/"
primary_data_path = "data/03_primary/"
models_data_path = "data/06_models/"

### Data

In [15]:
data = pd.read_csv(project_path + raw_data_path + 'wi_dataset.csv',
                   lineterminator='\n')

len(data)

112056

In [16]:
data.head()

,id,title,description,location,country_id,company_name,retrieval_date
0,1,Traineeship Pensioen & Leven in Utrecht,We sturen je door naar je toekomstige opdracht...,Utrecht,NL,NaN,2021-01-19
1,2,DEPOSITARY OFFICER (M/F),DEPOSITARY OFFICER (M/F) DO Recruitment Adviso...,NaN,FR,DO Recruitment Advisors,2021-09-30
2,3,Cautam colegi manipulanti marfa,Descriere Angajam manipulanti marfa din Pitest...,Pitesti,RO,NaN,2021-06-18
3,4,Home Care Assistant,Are you looking for a role as a Care Assistant...,NaN,UK,Cera Care,2021-02-09
4,5,Chef de chantier espaces verts h/f,LE POSTE Vous êtes passionné par les Espaces V...,NaN,FR,ALPHEA CONSEIL,2021-06-08

In [17]:
data.tail()

,id,title,description,location,country_id,company_name,retrieval_date
112051,112052,OPERATORE IMPIANTI AUTOMATICI,OPERATORE IMPIANTI AUTOMATICI SBE VARVIT - Mon...,"Monfalcone, Friuli-Venezia Giulia",IT,S.B.E. VARVIT,2021-01-31
112052,112053,Tarvittaessa töihin kutsuttavia siivoojia,Etsimme useampaa MATALAPAINEPESIJÄÄ tiimiimme ...,NaN,FI,ISS Palvelut Oy,2021-04-01
112053,112054,Timanställning - Lager - Start Augusti,Om Jobbet: Just nu söker vi efter nya medarbet...,Jönköping,SE,Lyreco Sverige AB,2021-08-03
112054,112055,Opérateur de saisie bancaire H/F,Venez nous découvrir sur : https://www.tessi.e...,Fontenay-sous-Bois (94),FR,tessi,2021-05-31
112055,112056,Senior Java developer,Do you want to know what is means to be BOLD? ...,NaN,PT,BOLD International,2021-01-30

In [18]:
processed_dataset = pd.read_parquet(project_path + primary_data_path + 'extensively_preprocessed_dataset.pq')

len(processed_dataset)

112056

In [19]:
processed_dataset.head()

,id,title,description,location,country_id,company_name,retrieval_date,beginning_description,end_description,concatenated_offer
0,1,traineeship pensioen leven utrecht,sturen toekomstige opdrachtgever duurt paar se...,utrecht,NL,,2021-01-19,sturen toekomstige opdrachtgever duurt paar se...,tal 2020 kvk nr close inloggen login gegevens ...,traineeship pensioen leven utrecht utrecht NL...
1,2,depositary officer,depositary officer recruitment advisor recruit...,,FR,recruitment advisor,2021-09-30,depositary officer recruitment advisor recruit...,provider benefiting global network offering v...,depositary officer recruitment advisor FR dep...
2,3,cautam colegi manipulanti marfa,angajam manipulanti marfa pitesti zonele adiac...,pitesti,RO,,2021-06-18,angajam manipulanti marfa pitesti zonele adiac...,angajam manipulanti marfa pitesti zonele adiac...,cautam colegi manipulanti marfa pitesti RO an...
3,4,home assistant,assistant ayshire driving license access vehic...,,UK,cera,2021-02-09,assistant ayshire driving license access vehic...,ommitment hard cera free pvg check free profes...,home assistant cera UK assistant ayshire driv...
4,5,chef chantier espaces verts,passionne espaces verts creativite sans limite...,,FR,alphea conseil,2021-06-08,passionne espaces verts creativite sans limite...,passion insuffler energie dynamique reconnais...,chef chantier espaces verts alphea conseil FR...

In [20]:
processed_dataset.tail()

,id,title,description,location,country_id,company_name,retrieval_date,beginning_description,end_description,concatenated_offer
112051,112052,operatore impianti automatici,operatore impianti automatici sbe varvit monfa...,monfalcone friuli venezia giulia,IT,varvit,2021-01-31,operatore impianti automatici sbe varvit monfa...,i richiede lavorare turni patentino valido car...,operatore impianti automatici varvit monfalcon...
112052,112053,tarvittaessa toihin kutsuttavia siivoojia,useampaa matalapainepesijaa tiimiimme outokump...,,FI,i palvelut oy,2021-04-01,useampaa matalapainepesijaa tiimiimme outokump...,useampaa matalapainepesijaa tiimiimme outokump...,tarvittaessa toihin kutsuttavia siivoojia i pa...
112053,112054,timanstallning lager start augusti,jobbet orderplockare centrallager bankeryd hog...,jonkoping,SE,lyreco sverige ab,2021-08-03,jobbet orderplockare centrallager bankeryd hog...,tempo arbetstiderna 10 20 profil stort engage...,timanstallning lager start augusti lyreco sver...
112054,112055,operateur saisie bancaire,venez decouvrir http www tessi fr quelques mot...,fontenay sou bois 94,FR,tessi,2021-05-31,venez decouvrir http www tessi fr quelques mot...,hauteur 50 ticket restaurant dematerialises ca...,operateur saisie bancaire tessi fontenay sou b...
112055,112056,senior java developer,know mean bold bold driving technology world i...,,PT,bold international,2021-01-30,know mean bold bold driving technology world i...,e api oracle sql hibernate jpa maven docker co...,senior java developer bold international PT k...

## Tests

In [23]:
data.loc[112055, 'description']

'Do you want to know what is means to be BOLD? Being BOLD is driving into the technology world, inspired and inspiring. Creating strong teams along the way and building roads for the next journey. Enjoying every ride is part of our DNA. Are you BOLD enough? If so, join us. Position: Senior Java developer for an International project in Lisbon We need expertise in:  J2EE Spring Core Javascript frameworks (ReactJS is a plus) Jersey (Restful services), API Oracle/SQL Hibernate/JPA Maven Docker, container in general, kubernetes, cloud architecture Fluent in English   Still not sure if you will send your application to BOLD? More than creating solutions, we push and inspire our people to go further and deliver innovation anytime, anywhere. So, here’s a little push – BE BOLD.   Send your application to  **************************'

In [24]:
processed_dataset.loc[112055, 'description']

'know mean bold bold driving technology world inspired inspiring creating strong team along way building road next journey enjoying every ride part dna bold enough join position senior java developer international project lisbon need expertise j2ee spring core javascript framework reactjs plus jersey restful service api oracle sql hibernate jpa maven docker container general kubernetes cloud architecture fluent english still sure send application bold creating solution push inspire people go deliver innovation anytime anywhere little push bold send application'