# Notebook for small tests

## Imports

### Packages

In [6]:
import os
import pandas as pd
import warnings

In [2]:
warnings.filterwarnings('ignore')

### Paths

In [9]:
project_path = "/home/onyxia/work/deduplication/"
raw_data_path = "data/01_raw/"

In [4]:
# Import from s3
os.system(f"mc cp s3/apalazzolo/Deduplication/wi_dataset.csv {raw_data_path}wi_dataset.csv")

mc: <ERROR> Unable to validate source `s3/apalazzolo/Deduplication/wi_dataset.csv`.

256

### Data

In [10]:
data = pd.read_csv(project_path + raw_data_path + 'wi_dataset.csv',
                   lineterminator='\n')

In [11]:
len(data)

112064

In [12]:
data.head()

,id,title,description,location,country_id,company_name,retrieval_date
0,1,Traineeship Pensioen & Leven in Utrecht,We sturen je door naar je toekomstige opdracht...,Utrecht,NL,NaN,2021-01-19
1,2,DEPOSITARY OFFICER (M/F),DEPOSITARY OFFICER (M/F) DO Recruitment Adviso...,NaN,FR,DO Recruitment Advisors,2021-09-30
2,3,Cautam colegi manipulanti marfa,Descriere Angajam manipulanti marfa din Pitest...,Pitesti,RO,NaN,2021-06-18
3,4,Home Care Assistant,Are you looking for a role as a Care Assistant...,NaN,UK,Cera Care,2021-02-09
4,5,Chef de chantier espaces verts h/f,LE POSTE Vous êtes passionné par les Espaces V...,NaN,FR,ALPHEA CONSEIL,2021-06-08

## Tests