# Notebook for small tests

## Imports

### Packages

In [15]:
import os
import pandas as pd
import warnings

In [16]:
warnings.filterwarnings('ignore')

### Paths

In [38]:
project_path = "/home/onyxia/work/deduplication/"
raw_data_path = "data/01_raw/"
intermediate_data_path = "data/02_intermediate/"
models_data_path = "data/06_models/"

### Data

In [18]:
data = pd.read_csv(project_path + raw_data_path + 'wi_dataset.csv',
                   lineterminator='\n')

len(data)

112056

In [19]:
data.head()

,id,title,description,location,country_id,company_name,retrieval_date
0,1,Traineeship Pensioen & Leven in Utrecht,We sturen je door naar je toekomstige opdracht...,Utrecht,NL,NaN,2021-01-19
1,2,DEPOSITARY OFFICER (M/F),DEPOSITARY OFFICER (M/F) DO Recruitment Adviso...,NaN,FR,DO Recruitment Advisors,2021-09-30
2,3,Cautam colegi manipulanti marfa,Descriere Angajam manipulanti marfa din Pitest...,Pitesti,RO,NaN,2021-06-18
3,4,Home Care Assistant,Are you looking for a role as a Care Assistant...,NaN,UK,Cera Care,2021-02-09
4,5,Chef de chantier espaces verts h/f,LE POSTE Vous êtes passionné par les Espaces V...,NaN,FR,ALPHEA CONSEIL,2021-06-08

In [27]:
data.tail()

,id,title,description,location,country_id,company_name,retrieval_date
112051,112052,OPERATORE IMPIANTI AUTOMATICI,OPERATORE IMPIANTI AUTOMATICI SBE VARVIT - Mon...,"Monfalcone, Friuli-Venezia Giulia",IT,S.B.E. VARVIT,2021-01-31
112052,112053,Tarvittaessa töihin kutsuttavia siivoojia,Etsimme useampaa MATALAPAINEPESIJÄÄ tiimiimme ...,NaN,FI,ISS Palvelut Oy,2021-04-01
112053,112054,Timanställning - Lager - Start Augusti,Om Jobbet: Just nu söker vi efter nya medarbet...,Jönköping,SE,Lyreco Sverige AB,2021-08-03
112054,112055,Opérateur de saisie bancaire H/F,Venez nous découvrir sur : https://www.tessi.e...,Fontenay-sous-Bois (94),FR,tessi,2021-05-31
112055,112056,Senior Java developer,Do you want to know what is means to be BOLD? ...,NaN,PT,BOLD International,2021-01-30

In [43]:
preprocessed_dataset = pd.read_parquet(project_path + intermediate_data_path + 'preprocessed_dataset.pq')

len(preprocessed_dataset)

112056

In [44]:
preprocessed_dataset.head()

,id,title,description,location,country_id,company_name,retrieval_date,text
0,1,traineeship pensioen leven in utrecht,we sturen je door naar je toekomstige opdracht...,utrecht,NL,,2021-01-19,traineeship pensioen leven in utrecht utrecht...
1,2,depositary officer m f,depositary officer m f do recruitment advisors...,,FR,do recruitment advisors,2021-09-30,depositary officer m f do recruitment advisors...
2,3,cautam colegi manipulanti marfa,descriere angajam manipulanti marfa din pitest...,pitesti,RO,,2021-06-18,cautam colegi manipulanti marfa pitesti descr...
3,4,home care assistant,are you looking for a role as a care assistant...,,UK,cera care,2021-02-09,home care assistant cera care are you looking...
4,5,chef de chantier espaces verts h f,le poste vous etes passionne par les espaces v...,,FR,alphea conseil,2021-06-08,chef de chantier espaces verts h f alphea cons...

In [45]:
preprocessed_dataset.tail()

,id,title,description,location,country_id,company_name,retrieval_date,text
112051,112052,operatore impianti automatici,operatore impianti automatici sbe varvit monfa...,monfalcone friuli venezia giulia,IT,s b e varvit,2021-01-31,operatore impianti automatici s b e varvit mon...
112052,112053,tarvittaessa toihin kutsuttavia siivoojia,etsimme useampaa matalapainepesijaa tiimiimme ...,,FI,iss palvelut oy,2021-04-01,tarvittaessa toihin kutsuttavia siivoojia iss ...
112053,112054,timanstallning lager start augusti,om jobbet just nu soker vi efter nya medarbeta...,jonkoping,SE,lyreco sverige ab,2021-08-03,timanstallning lager start augusti lyreco sver...
112054,112055,operateur de saisie bancaire h f,venez nous decouvrir sur https www tessi eu fr...,fontenay sous bois 94,FR,tessi,2021-05-31,operateur de saisie bancaire h f tessi fontena...
112055,112056,senior java developer,do you want to know what is means to be bold b...,,PT,bold international,2021-01-30,senior java developer bold international do y...

In [35]:
full_duplicates = pd.read_parquet(project_path + models_data_path + 'full_duplicates.pq')

len(full_duplicates)

358073

In [36]:
full_duplicates.head()

     id1    id2  type
0  16097  23753  FULL
1  16097  26567  FULL
2  16097  34959  FULL
3  16097  35983  FULL
4  16097  44767  FULL

## Tests

In [53]:
preprocessed_dataset[preprocessed_dataset['description'].str.contains("br")]['description'][1]

'depositary officer m f do recruitment advisors are recruiting a depositary officer for a large international company the depositary team supervises the alternative investment funds and the fund managers in accordance with the aifm directive the depositary officer will manage a portfolio of depositary clients primarily private equity real estate infrastructure and debt funds the job actively participating in the day to day operational depositary work ensuring compliance of alternative investment funds with regulations with a focus on the following depositary duties monitor and reconcile cash that flows in and out of the investment accounts and ward for significances and inconsistencies perform cash monitoring duties in accordance with the aifmd perform safekeeping duties in accordance with the aifmd working perform oversight duties in accordance with the aifmd participating in performing due diligence on our third parties keep up with movements of competitors developments and trends as well as client demands in the local and global market taking into account the current product service portfolio and commercial interests of the company the candidate profile university or professional degree business economics finance or law 0 2 years of relevant experience in a depositary service or in accounting service will be considered as an asset fluent in english both verbally and in writing other languages are advantageous interest in the financial sector and specifically in the private equity and real estate industry good knowledge of ms office organized flexible and able to manage several tasks dynamic and excellent communication skills team spirit and take initiative to act without waiting for direction when appropriate the client our client is a service provider benefiting from a global network and offering a variety of opportunities abroad at the final stages of the recruitment process the successful candidate can be asked to provide supporting documentation such as for example copies of diplomas or proof of previous jobs and a standard criminal record check might also be requested'